<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean id = "dosomeservice" class="com.yyt.service.Service1"></bean>
    <bean id = "aspect" class ="aspect.LogAspect"></bean>
    <!--配置aop-->
    <aop:config>
        <!--where 切点表达式-->
        <aop:pointcut id="loggerCutpoint" expression="execution(* com.yyt.service.Service1.*(..)) "/>
        <!--what 通知-->
        <aop:aspect id = "logAspect" ref="aspect">
            <!--when-->
            <aop:around method="Log" pointcut-ref="loggerCutpoint"/>
        </aop:aspect>

    </aop:config>
</beans>